@charset "UTF-8";


.title{
	width: 90%;
	text-align: center;
    box-shadow: -1px 1px 1px 1px;
    border-radius: 5px;
    font-size: xx-large;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    background-color: #E3FAFB;
    cursor: default;
}

.title:hover {
    transition-duration : 0.5s;
	box-shadow: -1px 1px 2px 1px;
    border-radius: 20px;
    font-style: oblique;
    background-color: #EFFFFF;
}

.table{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 70px;
	overflow: auto;
	text-align: left;
    border-radius: 3px;
    font-size: medium;
    padding: 8px;
    cursor: auto;
}

.title:hover {
    transition-duration : 0.5s;
    border-radius: 5px;
    font-style: normal;
}